#test {
    color: gray;
}

body {
    font-size: 30px;
    background: lightgray;

}

button{
    min-width: 275px;
    font-size: 40px;
}

input[type="number"] {
    font-size: 26px;
    width: 115px;
    text-align: right;
}

canvas {
    align-self: flex-start;
}

#errorMessage {
    color: red;
    font-size: 26px;
}

.container {
    display: flex;
}

.controls {
    padding-left: 1rem;
}