#test {
    color: gray;
}

body {
    font-size: 30px;
    background: lightgray;

}

select {
    height: 4rem;
    border-radius: 1rem;
    font-size: 30px;
    padding: .5rem;
}

option {
    font-size: 30px;
}

button{
    border-radius: 10px;
    margin: 0.5rem;
    background: white;
    padding: 0.5rem;
    transition: transform .01s; /* Animation */
    min-width: 10%;
    font-size: 40px;
}
button:hover:not([disabled]) {
    background: #FA9F42;
    transform: scale(1.02);
}


input[type="number"] {
    font-size: 26px;
    width: 115px;
    text-align: right;
}

canvas {
    align-self: flex-start;
}

#errorMessage {
    color: red;
    font-size: 26px;
}

.container {
    display: flex;
}

.game {
    display: flex;
}

.controls {
    padding-left: 1rem;
}

.d-none {
    display: none !important;
}

.main-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.main-menu button {
    border-radius: 10px;
    margin: 0.5rem;
    background: white;
    padding: 0.5rem;
    transition: transform .1s; /* Animation */
}

.main-menu button:hover:not([disabled]) {
    background: #FA9F42;
    transform: scale(1.1);
}