#right_bar {
    float: right;
}

canvas {
    float: left;
    border: 1px solid white;
}

html, body {
    margin: 0;
    padding: 0;
    background: rgb(83, 92, 102)
}

li a{
    font-size: larger;
    color: lightblue;
    text-decoration: none;
}